body {
  background-color: $color_body_bg;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: $color_fg;
  font-size: 16px;
}
.playlist_btns{
    padding: 1rem;
    background-color: $color_secondary;
    margin-bottom: 3rem;
}
