$color_body_bg: #062735;
$color_bg: #171717;
$color_fg: #d1d1d1;
$color_txt: #191919;
$color_highlight: gold;
$color_secondary: #197499;
$color_tertiary: #348cb0;

$color_theme_bg: #00212bff; //gunmental

$width_max: 420px;
$width_med: 320px;
$height_init: 240px;
$height_max: 620px;

$border_radius: 6px;